html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 5;
}

.banner .slider {
  position: absolute;
  width: 15vw;
  height: 25vw;
  left: 50%;
  z-index: 10;

  cursor: grab;
  user-select: none;
  touch-action: none;

  transform-style: preserve-3d;
  transform: translateX(-50%) perspective(calc(90vw + var(--quantity) * 10vw))
    rotateY(var(--rotation));
  transition: transform 0.8s ease;
}

.banner .slider:active {
  cursor: grabbing;
}

.banner .slider .card {
  position: absolute;
  inset: 0px;

  width: 100%;
  height: 100%;
  background-color: rgb(241, 241, 241);
  transform-style: preserve-3d;
  z-index: 1;

  text-align: top;
  /* backface-visibility: hidden; */
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(calc(var(--quantity) * 2vw + 10vw));
}

/* .banner .slider.paused {
  animation-play-state: paused;
} */

.banner .slider .card::before {
  content: "";
  position: absolute;
  inset: 1vw;
  border: 3px solid rgb(206, 206, 4);
}

.banner .slider .card::after {
  content: "";
  position: absolute;
  inset: 1vw;
  background-color: rgb(241, 241, 241);
  border: 3px solid rgb(206, 206, 4);
  transform: rotateY(180deg);
  backface-visibility: hidden;
  z-index: 5;
  pointer-events: none;
}

.banner .slider .card.active {
  z-index: 20;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(calc(var(--quantity) * 2vw + 10vw)) scale(1.5);
}

.banner .slider .card.collapsed,
.banner .slider .card.defaultCard.collapsed {
  pointer-events: none;
  transform: scale(0);
}

.banner .slider .card.defaultCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .slider .card.defaultCard img {
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  position: absolute;
  transition: transform 0.2s ease;
}

.banner .slider .card.defaultCard img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.banner .slider .card:hover{
  cursor: pointer;
}

h1{
  font-size: 1.5vw;
}


@media (orientation: portrait) {
  .banner .slider {
    width: 45vw;
    height: 75vw;
  }

  .banner .slider .card {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(calc(var(--quantity) * 8vw + 10vw));
  }

  .banner .slider .card.active {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(calc(var(--quantity) * 8vw + 10vw)) scale(1.1);
  }

  h1{
    font-size: 3.5vw;
  }
}

