.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .slider {
  position: absolute;
  width: 15vw;
  height: 25vw;
  margin: auto;

  transform-style: preserve-3d;
  transform: perspective(calc(90vw + var(--quantity) * 10vw));
  animation: autoRun 20s linear infinite;
}

@keyframes autoRun {
  from {
    transform: perspective(calc(90vw + var(--quantity) * 10vw)) rotateY(0deg);
  }
  to {
    transform: perspective(calc(90vw + var(--quantity) * 10vw)) rotateY(360deg);
  }
}

.banner .slider .card {
  position: absolute;
  inset: 0px;

  width: 100%;
  height: 100%;
  background-color: rgb(241, 241, 241);

  display: flex;
  justify-content: center;
  align-items: center;

  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(calc(var(--quantity) * 2vw + 10vw));
}

.banner .slider .card::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 3px solid rgb(206, 206, 4);
}

.banner .slider .card img {
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  object-fit: contain;
  transition: transform 0.2s ease;
}

.banner .slider .card:hover img {
  transform: scale(1.1);
  cursor: pointer;
}
